html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  font-family: "TIBch", "Classic Grotesque W01", "Helvetica Neue", Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif;
}

a:hover {
  text-decoration: none;
}

a:focus {
  box-shadow: none;
}

header a {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.content {
  line-height: 1.8;
  padding-bottom: 2rem;
}

.content a {
  color: #0070f3;
}

.publication {
  background-color: #ffffff;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  line-height: 1.2;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.02), 1px 1px 15px 0 rgba(0, 0, 0, .03);

  transition: transform .3s ease 0s, box-shadow .6s ease 0s;
}

.publication:hover {
  transform: translateY(-5px);
  box-shadow: 1px 10px 30px 0 rgba(0, 0, 0, 0.1);
}

.pub-title {
  margin-bottom: 0.6rem;
}

.pub-title a {
  color: rgba(25, 25, 25, 1);
}

.pub-title a:hover {
  color: rgba(65, 65, 65, 0.85);
}

.pub-authors {
  margin-bottom: 0.6rem;
}

.bibtex-container {
  border: 0;

}

.bibtex-container pre {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.bibtex-container code {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1 0 auto;
  padding-left: 1rem;
}

.footer {
  flex-shrink: 0;
  padding: 1.5rem 0rem 1.5rem 1rem;
  line-height: 2rem;
  background-color: #151515;
}

.footer a {
  text-decoration: none;
  color: #ffffff;
}

.footer a:visited {
  text-decoration: none;
  color: #ffffff;
}